# intellij idea junk
.idea/
# baseConsole test plugins
plugins/
# compiled classes
out/
# javadocs in html format
doc/
# more intellij idea junk
*.iml
# stupid apple files that it creates to store metadata
._*
